body
{
    background: url('images/login_background.webp');
    color: white;   
}

.outer-flex-container
{
    background-color: #262626;
    position: relative;
    top: 30vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    height: 50vh;
    width: 30%;
}
.inner-flex-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="text"]
{
    width: 19.5em;
}
input[type="submit"]
{
    margin-top: 2em;
}
#error_msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 2em;
}
#error_msg > div:first-child
{
    margin-bottom: 1em;
}