*
{
    margin: 0;
}

body
{
    background-image: url('../images/password_background.jpg');
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(25px);
}

.outer-container
{
    height: 100vh;
    width: 70%;
    position: relative;
    top: 35vh;
}

#error-msg
{
    color: red;
}

a
{
    color: red;
}